<div class="p-20 px-10 bg-primary px-5 bg-no-repeat bg-cover text-white text-center bg-center bg-no-repeat colored-icons" style="background-image: url(/images/home-unleash-bg.svg)">
	<div>
		<h2 class="uppercase text-5xl">{{ title }}</h2>
		<p class="text-xl w-full max-w-3xl m-auto my-5">{{ description }}</p>
		<div class="flex flex-center flex-wrap w-full justify-center gap-6 m-auto my-10 max-w-xl">
			<img src="/images/icons/apps/paint_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumopaint">
			<img src="/images/icons/apps/tunes_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumotunes">
			<img src="/images/icons/apps/3D_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumo3D">
			<img src="/images/icons/apps/code_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumocode">
			<img src="/images/icons/apps/photo_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumophoto">
			<img src="/images/icons/apps/audio_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumoaudio">
			<img src="/images/icons/apps/video_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumovideo">
			<img src="/images/icons/apps/pixel_outline.svg" class="w-7 h-7 md:w-10 md:h-10" alt="Sumopixel">
		</div>
		<a href="{{ link }}" title="Subscribe to Pro" class="border border-solid bold rounded-full w-max cursor-pointer hover:opacity-90 bg-transparent text-white border-white hover:text-darkgrey hover:bg-white py-2 px-10 text-base " text="Subscribe to Pro" color="white-transparent" link="/pricing">
			{{ link_text }}
		</a>
	</div>
</div>
