<div class=" bg-primary p-10">
	<div class="relative w-full h-32 overflow-hidden">
		<div class="absolute top-8" style="left: calc(50%- 275px); perspective: 2400px;">
			<div class="laptop-cover">
				<iframe tabindex="-1" name="laptop-screen" class="laptop-screen" src="https://sumo.app/pixel?mode=suite" title="Laptop screen" allow="microphone; fullscreen" width="1266" height="748"></iframe>
			</div>

			<div class="laptop-bottom"></div>
		</div>
	</div>

	<div class="app-icons-bar gap-3 flex-wrap justify-start w-full">
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-paint" href="https://sumo.app/paint?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/paint_filled.svg" alt="Sumopaint" title="Sumopaint">
			</a>
			<p class="text-xs font-bold text-grey capitalize">paint</p>
		</div>
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-tunes" href="https://sumo.app/tunes?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/tunes_filled.svg" alt="Sumotunes" title="Sumotunes">
			</a>
			<p class="text-xs font-bold text-grey capitalize">tunes</p>
		</div>
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-3D" href="https://sumo.app/3D?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/3D_filled.svg" alt="Sumo3D" title="Sumo3D">
			</a>
			<p class="text-xs font-bold text-grey capitalize">3D</p>
		</div>
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-code" href="https://sumo.app/code?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/code_filled.svg" alt="Sumocode" title="Sumocode">
			</a>
			<p class="text-xs font-bold text-grey capitalize">code</p>
		</div>
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-photo" href="https://sumo.app/photo?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/photo_filled.svg" alt="Sumophoto" title="Sumophoto">
			</a>
			<p class="text-xs font-bold text-grey capitalize">photo</p>
		</div>
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-audio" href="https://sumo.app/audio?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/audio_filled.svg" alt="Sumoaudio" title="Sumoaudio">
			</a>
			<p class="text-xs font-bold text-grey capitalize">audio</p>
		</div>
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-video" href="https://sumo.app/video?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/video_filled.svg" alt="Sumovideo" title="Sumovideo">
			</a>
			<p class="text-xs font-bold text-grey capitalize">video</p>
		</div>
		<div class="hover:opacity-80">
			<a target="laptop-screen" class="app-thumb background-color-pixel" href="https://sumo.app/pixel?mode=suite" hreflang="en">
				<img class="app-thumb-icon" width="32" height="32" src="https://site.sumo.app/images/icons/apps/pixel_filled.svg" alt="Sumopixel" title="Sumopixel">
			</a>
			<p class="text-xs font-bold text-grey capitalize">pixel</p>
		</div>
	</div>
</div>
